<?xml version="1.0" encoding="UTF-8"?>
<springdemo1.beans xmlns="http://www.springframework.org/schema/springdemo1.beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/springdemo1.beans http://www.springframework.org/schema/springdemo1.beans/spring-springdemo1.beans.xsd">


    <bean id="helloService" class="com.demo.Service.HelloService"></bean>
</springdemo1.beans>